%table.table.table-condensed.table-striped.table-hover
  %tr
    %th Name:
    %td= @leader.name
  %tr
    %th Email:
    %td= @leader.email
  - if @leader.meet_type.exists?
    %tr
      %th Meet Types:
      %td= @leader.meet_types.map{ |mt| mt.name}.join(', ')
%ul.nav.nav-pills
  %li= link_to 'View All Leaders', leaders_path
