%html
  %body
    Hello,
    %p
    = yield
    %p
    %hr
    %p
    St Matthew's Church, Grenville Street, Edgeley, Stockport. SK3 9EE
    %br
    Registered Charity 1153830
    %br
    web site: https://www.edgeleyandcheadleheath.org.uk/
    %br
    e-mail: info@edgeleyandcheadleheath.org.uk